.chat
  .header
    .left-header
      .left-header__title
        = @group.name
      %ul.left-header__members
        Member：
        %li.member
        -@group.users.each do |user|
          %ul
            %li.chat-group-information__member__name
              = user.name + " "
    .right-header
      .right-header__button
        = link_to "Edit", edit_group_path(@group), class: 'Edit'
        -# = link_to edit_group_path(@group)do
        -#   修正ボタン
  .messages
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__contents__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__contents__inputImage' do
          = icon('far', 'image', class: 'Form__contents__inputImage__icon')
          = f.file_field :image, class: 'Hidden'
        = f.submit 'Send', class: 'Form__contents__submit'