.sidebar
  .sidebar__side-header
    .sidebar__side-header__side-box
      %p.sidebar__side-header__side-box__user-name
        = current_user.name
      %ul.sidebar__side-header__side-box__icons
        = link_to "#", class: "sidebar__side-header__side-box__icons__btn" do
          = icon('fas', 'edit', class: 'sidebar__side-header__side-box__icons__btn__edit')
        = link_to edit_user_path(current_user), class: "sidebar__side-header__side-box__icons__btn" do
          = icon('fas', 'cog', class: 'sidebar__side-header__side-box__icons__btn__cog')

  .sidebar__group-list
    %h3.sidebar__group-list__first-group
      techcamp
    %p.sidebar__group-list__current-message
      まだメッセージはありません

